@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
}

.bg-gradient {
  background: linear-gradient(45deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
